// Background Colors
$color-bg: #F8F9FB;
$color-bg-1: #f2f3f6;

// Table Colors
$color-bg-title-table: #E1E8F0;
$color-data-table-header: #E1E8F0;
$color-border-table-dados: #E1E8F0;

// Border Colors
$color-border: #CBD3E1;
$color-border-1: #e0e0e2;

// Text Colors
$color-text-footer: #A5AEBC;
$color-subtitle: #5c6c8d;

// Primary Colors
$color-primary-light: #4778F2;
$color-primary: #2660F0;
$color-primary-dark: #0E45CE;

// Secondary Colors
$color-secondary-light: #0067E6;
$color-secondary: #003979;
$color-secondary-dark: #00295C;

// Neutral Colors
$color-white: #FFFFFF;
$color-neutral-50: #EFEFEF;
$color-neutral-100: #E9E9E9;
$color-neutral-200: #CCCCCC;
$color-neutral-300: #AFAFAF;
$color-neutral-400: #929292;
$color-neutral-500: #757575;
$color-neutral-600: #575757;
$color-neutral-700: #3A3A3A;
$color-neutral-800: #2C2C2C;
$color-neutral-900: #1D1D1D;
$color-black: #000000;

// Success Colors
$color-success-light: #73CA80;
$color-success: #42AF52;
$color-success-dark: #348941;

// Info Colors
$color-info-light: #7F7FFF;
$color-info: #5B5BFF;
$color-info-dark: #2A2AFF;

// Warning Colors
$color-warning-light: #FFE449;
$color-warning: #FFD700;
$color-warning-dark: #C8AA00;

// Danger Colors
$color-danger-light: #FF4343;
$color-danger: #FF2424;
$color-danger-dark: #E40000;