/* You can add global styles to this file, and also import other style files */
@use './styles/variables';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Rubik', sans-serif;
}